@model TarefaViewModel

<form asp-action="Index">
    <div class="row mb-3">
        <div class="col-md-4">
            <label for="Titulo" class="form-label">Título</label>
            <input type="text" class="form-control" asp-for="Titulo" />
        </div>
        <div class="col-md-2">
            <label for="Status" class="form-label">Status</label>
            <select id="Status" class="form-select" asp-for="Status">
                <option>Selecione o status</option>
                <option value="0">Pendente</option>
                <option value="1">Finalizado</option>
            </select>
        </div>
        <div class="col-md-2">
            <label for="DataIni" class="form-label">Início</label>
            <input type="date" class="form-control" asp-for="DataIni" />
        </div>
        <div class="col-md-2">
            <label for="DataFim" class="form-label">Fim</label>
            <input type="date" class="form-control" asp-for="DataFim" />
        </div>
        <div class="col-md-2 d-flex justify-content-start align-items-end">
            <input type="submit" value="Pesquisar" class="btn btn-secondary" />
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Título</th>
            <th>Data da Tarefa</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tarefas)
        {
            <tr>
                <td>@Html.DisplayFor(model => item.Titulo)</td>
                <td>@item.Data.ToShortDateString()</td>
                <td>@Html.DisplayFor(model => item.Status)</td>
            </tr>
        }
    </tbody>
</table>